.summoner-search-fields {
    display: inline-flex;
}

.summoner-search-field {
    margin-right: 5px;
}

.summoner-search-field i {
    margin-top: -24px;
    margin-right: 6px;
    float: right;
}

.start-game {
    margin-top: -3px;
    margin-left: -4px;
}
