th.name {
    width: 30%;
}

th.matchup {
    width: 70%;
}

.summoner-name {
    text-align: center;
}

.inputs {
    display: inline;
}

.champion-pick-field-valid {
    border-color: green !important;
}

.champion-pick-field-invalid {
    border-color: red !important;
}

.champion-pick-field-fetching {
    border-color: orange !important;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
