.summoner-search-fields {
    display: inline-flex;
}

.summoner-search-field {
    margin-right: 5px;
}

.summoner-search-field i {
    margin-top: -24px;
    margin-right: 6px;
    float: right;
}

.start-game {
    margin-top: -3px;
    margin-left: -4px;
}

tr .name {
    width: 20%;
}

tr .summonerId {
    width: 10%;
}

tr .most-played-champions {
    width: 70%
}

.most-played-champion-data {
    display: inline-block;
}

.champion-icon {
    height: 40px;
    width: 40px;
    background-size: 40px;
}

th {
    text-align: center;
}

td {
    text-align: center;
}
