th {
    text-align: center;
}

th.name {
    width: 30%;
}

th.matchup {
    width: 70%;
}

.summoner-name {
    text-align: center;
}

.inputs {
    display: inline;
}

.champion-pick-field-valid {
    border-color: green !important;
}

.champion-pick-field-invalid {
    border-color: red !important;
}

.champion-pick-field-fetching {
    border-color: orange !important;
}

.champions-that-counter-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: -6px;
}

.champions-that-counter-data {
    display: inline-block;
    font-size: 10px;
    text-align: center;
}

.champion-icon {
/*    height: 50px;
    width: 50px;
    background-size: 50px;*/
    height: 48px;
    width: 48px;
    background-size: 48px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
