{% extends 'lemonnotes/base.html' %}
<!-- -*- mode: html (django) -*- -->

{% load staticfiles %}

{% block title %}
  Index
{% endblock title %}

{% block head_block %}
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/stylesheet_index.css' %}">
{% endblock head_block %}

{% block body_block %}
  <div class="page-header">
    <h1>
      LemonNotes
    </h1>
  </div>
  <form id="summoner-search" method="post" action="{% url 'pb_helper' %}">
    {% csrf_token %}
    <div class="form-group summoner-search-fields" data-bind="foreach: searchFieldSummoners">
      <div class="summoner-search-field">
        <label for="summoner-1-name" class="sr-only">Summoner name</label>
        <input type="text" class="form-control summoner-name" data-bind="textInput: name,
                                                                         attr: {placeholder: 'Summoner ' + ($index() + 1).toString()},
                                                                         event: {
                                                                           keydown: function(data, event) {return $root.updateOnKeydown($index(), data, event)},
                                                                           focusout: function(data, event) {$root.onFocusout($index(), data, event)}
                                                                         },
                                                                         css: {
                                                                           'summoner-search-field-valid': fetchStatus() === 'valid',
                                                                           'summoner-search-field-invalid': fetchStatus() === 'invalid',
                                                                           'summoner-search-field-fetching': fetchStatus() === 'fetching',
                                                                           'summoner-search-field-none': fetchStatus() === 'none'
                                                                         }">
      </div>
    </div>
    <button type="submit" class="btn btn-primary start-game">Start game!</button>
    <div class="matches-to-fetch"><select class="form-control" data-bind="options: matchesToFetchOptions, value: matchesToFetch"></select></div>
  </form>
  <div class="col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th class="name">Name</th>
          <th class="ranking">Ranking</th>
          <th class="most-played-champions">Most played champions</th>
          <th class="best-performance-champions">Best performance on</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: summoners">
        <tr data-bind="visible: isDataFetched()">
          <td data-bind="text: name"></td>
          <td data-bind="text: ranking"></td>
          <!-- ko if: mostPlayedChampions -->
          <td>
            <ul class='most-played-champions-list' data-bind='foreach: mostPlayedChampions'>
              <li class='most-played-champion-data'>
                <div class='champion-icon' data-bind="attr: {style: $root.styleFromSpriteSheetUrl(sprite_sheet_url, -x, -y)}, tooltip: {title: champion_name}"></div>
                <div data-bind="text: 'Games: ' + games"></div>
                <div>
                <span class="wins" data-bind="text: wins"></span>
                /
                <span class="losses" data-bind="text: games - wins"></span>
                </div>
              </li>
            </ul>
          </td>
          <td>
            <ul class='best-performance-champions-list' data-bind='foreach: bestPerformanceChampions'>
              <li class='best-performance-champion-data'>
                <div class='champion-icon' data-bind="attr: {style: $root.styleFromSpriteSheetUrl(sprite_sheet_url, -x, -y)}, tooltip: {title: champion_name}"></div>
                <div data-bind="text: 'Games: ' + games"></div>
                <div>
                <span class="wins" data-bind="text: wins"></span>
                /
                <span class="losses" data-bind="text: games - wins"></span>
                </div>
              </li>
            </ul>
          </td>
          <!-- /ko -->
        </tr>
      </tbody>
    </table>
  </div>
{% endblock body_block %}

{% block js_files %}
  <script type="text/javascript" src="{% static 'js/main_index.js' %}"></script>
{% endblock js_files %}
