{% extends 'lemonnotes/base.html' %}
<!-- -*- mode: html (django) -*- -->

{% load staticfiles %}

{% block title %}
  Start Game!
{% endblock title %}

{% block head_block %}
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/stylesheet_pb_helper.css' %}">
{% endblock head_block %}

{% block body_block %}
  <div class="page-header">
    <h1>
      LemonNotes
    </h1>
  </div>
  <div class="col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th class="name">Name</th>
          <th class="matchup">Matchup info</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: championPicks">
        <tr data-bind="visible: summonerName">
          <td>
            <div class="summoner-name" data-bind="text: summonerName">Test</div>
            <div>
              <form>
                <input class="form-control champion-pick" type="text" name="suggestion" data-bind="textInput: championName,
                                                                         attr: {placeholder: summonerName() + '\'s pick'},
                                                                         event: {focusout: function(data, event) {$root.updateOnFocusout($index(), data, event)}, keypress: function(data, event) {return $root.updateOnEnter($index(), data, event)}},
                                                                         css: {
                                                                           'champion-pick-field-valid': fetchStatus() === 'valid',
                                                                           'champion-pick-field-invalid': fetchStatus() === 'invalid',
                                                                           'champion-pick-field-fetching': fetchStatus() === 'fetching',
                                                                           'champion-pick-field-none': fetchStatus() === 'none'
                                                                         }">
                <select class="form-control" data-bind="value: role">
                  <option>Top</option>
                  <option>Jungle</option>
                  <option>Middle</option>
                  <option>ADC</option>
                  <option>Support</option>
                </select>
              </form>
            </div>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock body_block %}

{% block js_files %}
  <script type="text/javascript">
  var summonerNames = {{ summonerNames|safe }};
  </script>
  <script type="text/javascript" src="{% static 'js/main_pb_helper.js' %}"></script>
{% endblock js_files %}
